Repository Level/levelup, pull requests merged in 2019-06, with the labels that each got.

#655 Prepare 4.0.2
  CHANGELOG.md
  CONTRIBUTORS.md
Labels: documentation

#660 Support options passed to .open
  README.md
  lib/levelup.js
  test/init-test.js
Labels: enhancement, semver-minor

#662 Replace arrow functions (follow-up for #660)
  test/init-test.js
Labels: test

#661 Test seek() integration
  test/iterator-test.js
Labels: test
